<?xml version="1.0"?>
<!-- realsense d435fi -->
<launch>
  <arg name="color_width" default="1280"/>
  <arg name="color_height" default="720"/>
  <arg name="color_fps" default="30"/>

  <arg name="depth_width" default="1280"/>
  <arg name="depth_height" default="720"/>
  <arg name="depth_fps" default="30"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_pointcloud" value="true"/>
    <arg name="align_depth" value="true"/>
    <arg name="enable_sync" value="true"/>
    <arg name="camera" value="cam"/>

    <arg name="depth_width" value="$(arg depth_width)"/>
    <arg name="depth_height" value="$(arg depth_height)"/>
    <arg name="depth_fps" value="$(arg depth_fps)"/>

    <arg name="color_width" value="$(arg color_width)"/>
    <arg name="color_height" value="$(arg color_height)"/>
    <arg name="color_fps" value="$(arg color_fps)"/>
  </include>
</launch>
