<?xml version="1.0"?>
<!-- main launch file for the physical system -->
<launch>
    <arg name="rviz" default="true" />

    <include file="$(find cu_ur5e_description)/launch/upload_description.launch" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

    <include file="$(find ur_robot_driver)/launch/ur_control.launch">
        <arg name="debug" value="false"/>
        <arg name="use_tool_communication" value="false"/>
        <arg name="controller_config_file" value="$(dirname)/../config/ros_controllers.yaml"/>
        <arg name="robot_ip" value="controller"/>
        <arg name="kinematics_config" value="$(find cu_ur5e_description)/config/kinematics_parameters.yaml"/>
        <arg name="tf_prefix" value="arm_"/>
        <arg name="headless_mode" value="true"/>
        <arg name="use_spline_interpolation" value="false"/>
        <arg name="controllers" value="joint_state_controller scaled_pos_joint_traj_controller force_torque_sensor_controller robot_status_controller" />
        <arg name="stopped_controllers" value="twist_controller" />
    </include>

    <include file="$(find cu_ur5e_moveit_config)/launch/move_group.launch" />

    <node name="moveit_by_name" pkg="moveit_by_name" type="moveit_by_name" />

    <!-- provide a "safe zone" for the optional UR Twist controller -->
    <node name="zoned_twist_filter" pkg="cu_zoned_twist" type="zoned_twist_filter">
        <param name="zoned_frame" value="table_top"/>
<rosparam>
zone_min: [-0.2, -0.3, 0.05]
zone_max: [0.2, 0.3, 0.25]
</rosparam>
    </node>

    <include file="$(dirname)/cam.launch" />

    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(dirname)/../config/default.rviz" />
</launch>
